.top-bar {
  padding: 15px;
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 7%;
}
.hi {
  h1 {
    // display: inline-block;
    // align-self: flex-end;
    line-height: 720px;
    font-size: 720px;
    font-weight: 400;
  }
}
