.loader {
  background-color: #2d513e;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  .line {
    width: 100vw;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}
.top-bar {
  padding: 15px;
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 7%;
}
.hi {
  overflow: hidden;
  h1 {
    display: inline-block;
    // align-self: flex-end;
    line-height: 720px;
    font-size: 720px;
    font-weight: 400;
  }
}
