@import './breakpoints.scss';

.intro {
  .part-1 {
    margin-top: 250px;
    margin-left: 50px;
    width: 70vw;
    font-size: 75px;
    font-weight: 400;
    @include media('<1500px') {
      font-size: 65px;
      width: 80vw;
    }
    @include media('<800px') {
      margin-left: 20px;
      width: 90vw;
      margin-top: 70px;
      font-size: 30px;
    }
  }
}
